*{
    font-family: Arial, Helvetica, sans-serif;
}

.epsonbrand-hero {
    background-image: url("../img/Hero.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 580px;
}


@media only screen and (max-width:1464px){
    .epsonbrand-hero {
        background-position: 76% 0;
    }
    
}
@media only screen and (max-width:566px){
    .epsonbrand-hero {
        background-position: 56% 0 !important;
    }
    
}

.epsonbrand-btn--greens{
    background-color: #78BA00;
    color: white;
    text-decoration: none;
    padding: 10px 28px;
    border: none !important;
}

.epsonbrand-hero__title{
    color: #78BA00;
    font-size: 50px;
    padding-top: 172px;
}

h1:after{
    display: none;
}
.epsonbrand-hero__text{
    color: black;
    font-size: 24px;
    font-weight: 700;   
    padding-bottom: 30px;
}

.epsonbrand-btn {
    background-color: #78BA00;
    color: white;
    text-decoration: none;
    padding: 10px 28px;
    border: 2px solid white;
}

.epsonbrand-ribbon{
    background-color: #78BA00;
    padding-top: 47px;
    padding-bottom: 0 !important;
}

@media only screen and (max-width:1238px){
    .epsonbrand-ribbon{
        padding-bottom: 84px !important;
    }
    .epsonbrand-ribbon__copy{
        padding-right: 0!important;
    }
}

.epsonbrand-ribbon__copy{
    padding-right: 80px;
}


.epsonbrand-ribbon__title{
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-size: 36px;
    padding-bottom: 26px;
}

.epsonbrand-ribbon__text{
    color: white;
    text-align: center;
    transform: translate(10px, -24px);
}

.epsonbrand-ribbon__cta{
        justify-content: flex-end;
        display: flex;
        position: relative;
        top: -99px;
}


@media only screen and (max-width:1238px){
    .epsonbrand-ribbon__cta{
        display: block;
        top: auto;
        justify-content: auto;
        text-align: center;
    }
}


.epsonbrand-btn--blues{
    position: absolute;
    left: 0;
    bottom: 45px;
    /* padding-left: 20px; */
    margin-left: 33px;
    background-color: #18218a;
}



@media only screen and (max-width:1184px){
    .epsonbrand-btn--blues{
        bottom: 26px;
    }
}
@media only screen and (max-width:991px){
    .epsonbrand-btn--blues{
        bottom: 16px;
    }
}

@media only screen and (max-width:769px){
    .epsonbrand-btn--blues{
        position: relative;
        z-index: 1;
        background-color: #18228b;
        font-size: 14px;
        left: 0px;
        bottom: -23px;
        margin-left: 0;
    }
}



.psonbrand-banner--1110x360{
    position: relative;
}

.epsonbrand-grid {
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left:20px;
    padding-right: 20px; */
}

.epsonbrand-banner--1110x530{
    position: relative;
}


.epsonbrand-btn--blue-cta{
    position: absolute;
    z-index: 1;
    bottom: 74px;
    left: 378px;
    background-color: #18228b;
    font-size: 20px;
    border: 0;
}

@media only screen and (max-width:1061px){
    .epsonbrand-btn--blue-cta{
        left: 308px;
    }
}

@media only screen and (max-width:991px){
    .epsonbrand-btn--blue-cta{
        left: 277px;
        font-size: 14px;
    }
}
@media only screen and (max-width:769px){
    .epsonbrand-btn--blue-cta{
        position: relative;
        z-index: 1;
        background-color: #18228b;
        font-size: 14px;
        left: 0px;
        bottom: -23px;
    }
}
.h3:after, h3:after {
    margin: 16px 0 0;
    display: inline;
}


.epsonbrand-row-one{
    display: grid;
    grid-template-columns: repeat(1);
    justify-content: center;
    align-content: center;
    padding: 18px 0;
    grid-gap: 30px;
}


.epsonbrand-banner__image--half{
    height: 275px;
    width: 100%;
}

.epsonbrand-banner__image-full{
    height: 100%;
    width: 100%;
}



















@media only screen and (max-width:1199px){
    .epsonbrand-row-third{
        /* grid-template-columns: repeat(3, 294px) !important; */
    }
}
@media only screen and (max-width:1134px){
    .epsonbrand-row-third{
        grid-template-columns: repeat(2, 345px) !important;
    }
}
@media only screen and (max-width:769px){
    .epsonbrand-row-third{
        grid-template-columns: repeat(1, 345px) !important;
        padding-top: 80px !important;
    }
}
@media only screen and (max-width:566px){
    .epsonbrand-row-third{
        grid-template-columns: repeat(1, 348px) !important;
    }
}

.epsonbrand-row-third{
    display: grid;
    grid-template-columns: repeat(3, 351px);
    justify-content: center;
    align-content: center;
    padding: 18px 0;
    grid-gap: 30px;
}

.epsonbrand-banner--350x360{
    position: relative;
}

.epsonbrand-banner__title{
    /* background: #0c1f4c; */
    /* color: white; */
    /* text-align: center; */
    font-weight: 100;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    color:#0c1f4c; 
    font-size: 26px;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.epsonbrand-banner__title-white{
    color: white;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-size: 26px;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
}

.h3:after {
    display: inline;
}

.h2:after, h2:after {
    margin: 16px 0 0;
    display: inline !important;
}

.epsonbrand-btn--blue-cta-third{
    position: absolute;
    bottom: 29px;
    left: 11px;
    background-color: #18228b;
    border: none;
}

.epsonbrand-row-half{
    display: grid;
    grid-template-columns: repeat(2, 541px);
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
}

@media only screen and (max-width:1199px){
    .epsonbrand-row-half{
        /* grid-template-columns: repeat(2, 453px) !important; */
    }
}

@media only screen and (max-width:1134px){
    .epsonbrand-row-half{
        grid-template-columns: repeat(1, 541px) !important;
    }
}

@media only screen and (max-width:566px){
    .epsonbrand-row-half{
        grid-template-columns: repeat(1, 348px) !important;
    }
    .epsonbrand-btn--blue-cta-half{
        bottom: 8px !important;
    }
    .epsonbrand-banner__image--half{
        height: 188px;
    }


}

.epsonbrand-banner--540x360{
    position: relative;
}

.epsonbrand-btn--blue-cta-half{
    position: absolute;
    bottom: 29px;
    left: 11px;
    background-color: #18228b;
    border: none;
}

.epsonbrand-banner--1110x360{
    position: relative;
    padding-top: 30px;
}


@media only screen and (max-width:1023px){
.stm-header__row_color.pearl_sticked{
    display: none !important;
    }
}